.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
  border : 1px solid green;
  margin-right: 15px;
}
.bound {
  display: block;
  width: 90%;
}